extends layout

block content
  h2 スプレッドシートを登録
  p スプレッドシートのURLを入力してね

  form(method="post" action="/templates/")
    input(type="text" name="ss_url")
    input(type="submit" value="スプレッドシートのデータを読み込み")



