extends layout

block content
  h1 スプレッドシート名: CodePBL名簿

  h2 カラム

  table
    tr
      td タイムスタンプ
      td 名前
      td メールアドレス
      td 学年
    tr
      td timestamp
      td name
      td email
      td grade



  h2 メールテンプレート
  form(method="post" action="#{url}")
    textarea(name="template_text" rows="20" cols="50")= template.text
    input(type="submit" value="下書きを作成")

