body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.table-columns{
  overflow:hidden;
  
  list-style:none;

  padding:0;margin:0;
}

.table-columns__item{
  float:left;

  border-radius:5px;
  background:#faa;

  padding:5px;
  margin:5px;
}

.table-columns__name{
  font-weight:bold;

}

.table-columns__slug{

}


.layout{

  overflow:hidden;

}

.layout__left{
  
}
.layout__right{
}
